# Web Framework
fastapi
uvicorn[standard]

# Data Processing
pandas
numpy==1.26.4
# Database
sqlalchemy
alembic
psycopg2-binary

# Authentication & Security
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# ML
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1+cpu
# Data Validation
pydantic

# HTTP Client
httpx
requests

# Image Handling
pillow

# Environment Variables
python-dotenv
